@page "/LogInPage"
@rendermode InteractiveWebAssembly

<PageTitle>LogInPage</PageTitle>

<h1>LogInPage</h1>

<h3> strona na której sie loguje / rejestruje odnosnik do niej w ramach Mainlayout prawy róg (po zalogowaniu zmienia sie na odnosnik do konta) </h3>
<hr />
<hr />
<h4> dla ułatwienia wersji roboczej wszystkie strony są wylistowane w lewym menu w przyszłosci zostanie wprowadzony poprawny routing</h4>
<hr />
<hr />
<button class="btn-1">Button</button>