@page "/UserProfilePage"
@rendermode InteractiveWebAssembly

<PageTitle>UserProfilePage</PageTitle>

<h1>UserProfilePage</h1>

<h3> profil użytkownika histora zamówień itd (nie pracownik) </h3>
<hr />
<hr />
<h4> dla ułatwienia wersji roboczej wszystkie strony są wylistowane w lewym menu w przyszłosci zostanie wprowadzony poprawny routing</h4>
<hr />
<hr />