<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarRenter</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OffertsLists">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> OffertsLists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LogInPage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> LogInPage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OffertView">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> OffertView
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UserProfilePage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> UserProfilePage
            </NavLink>
        </div>
       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
    </nav>
</div>

